<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}
</style>

<div style="text-align:center;">
    <b>허벅지근육(Hamstrings) 스트레칭</b>
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstrings-stretch-variation-1-front.mp4#t=0.1" >
       </video>
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstrings-stretch-variation-1-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>다리가 벽에 닿도록 눕습니다. 엉덩이가 바닥에서 약간 떨어져 있어야 합니다.</p>
        <p>한쪽 다리를 구부리고 다른 쪽 다리를 쭉 뻗습니다.</p>
        <p>허벅지를 벽쪽으로 밀어주세요.</p>
        <p>스트레칭을 몇 초 동안 유지한 다음 시작 위치로 돌아갑니다.</p>
    </ol>


    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstrings-stretch-variation-2-front.mp4#t=0.1" >
        </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstrings-stretch-variation-2-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>뒷다리는 최대한 구부리고 앞다리는 곧게 폅니다.</p>
        <p>스트레칭을 몇 초 동안 유지한 다음 시작 위치로 돌아갑니다.</p>
        <p>한 발을 다른 발 앞에 두고 원위치하고, 반복합니다.</p>
    </ol>

    <div class="exercise-images-grid">
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstrings-stretch-variation-3-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstrings-stretch-variation-3-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>한쪽 다리를 쭉 뻗고 다른 다리는 무릎을 구부린 채 바닥에 앉아 발은 반대쪽 넓적다리 안쪽에 얹습니다.</p>
        <p>손을 앞으로 뻗어다리의 발가락에 닿도록합니다.</p>
        <p>스트레칭을 몇 초 동안 유지한 다음 시작 위치로 돌아갑니다.</p>
    </ol>

    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstring-stretch-variation-4-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-hamstring-stretch-variation-4-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>다리를 앞으로 내밀고 바닥에 앉으십시오.</p>
        <p>앞으로 손을 뻗어 발가락에 닿도록합니다.</p>
        <p>스트레칭을 몇 초 동안 유지한 다음 시작 위치로 돌아갑니다.</p>
    </ol>
    
    
   

</div>

</html>