<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}
</style>

<div style="text-align:center;">
    <b>광배근(Lats) 스트레칭</b>
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-lats-stretch-variation-1-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-lats-stretch-variation-1-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>양손을 앞 벽에 댑니다.</p>
        <p>스트레칭이 느껴질 때까지 몸을 천천히 내립니다.</p>
        <p>스트레칭의 바닥을 잡고 시작 위치로 돌아갑니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-lats-stretch-variation-2-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-lats-stretch-variation-2-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>똑바로 서서 손을 머리 위로 완전히 뻗으십시오.</p>
        <p>몸을 천천히 기울이고 반대쪽 손으로 다리를 따라 내려갑니다.</p>
        <p>스트레칭의 바닥을 잡고 시작 위치로 돌아온 다음 반대쪽도 실시합니다.</p>
    </ol>

    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-lats-stretch-variation-3-front.mp4#t=0.1" >
       </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-lats-stretch-variation-3-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>기댈 벽을 찾고 등 뒤로 손을 대고 삼두근을 벽에 대십시오.</p>
        <p>천천히 벽에 기대십시오.</p>
        <p>시작 위치로 돌아간 다음 반대쪽도 실시합니다.</p>
    </ol>

   

</div>

</html>