<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}
</style>

<div style="text-align:center;">
    <b>외복사근(obliques) 스트레칭</b>
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-abdominals-stretch-variation-2-front.mp4#t=0.1" >
       </video>
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-abdominals-stretch-variation-2-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>똑바로 서십시오.</p>
        <p>손가락이 맞물릴 수 있을 때까지 양손을 위로 뻗습니다.</p>
        <p>손을 머리 위로 올리고 복부에 스트레칭이 느껴질 때까지 몸을 뒤로 젖힙니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-abdominals-stretch-variation-3-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-abdominals-stretch-variation-3-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>왼팔을 위로 뻗은 다음 천천히 오른쪽으로 몸을 기울입니다. 사근에 스트레칭이 느껴질 때까지 몸을 기울입니다.</p>
        <p>왼팔로 원하는 횟수만큼 반복한 후 오른팔로 바꿔 왼쪽으로 몸을 기울인다.</p>
    </ol>

</div>

</html>