<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}

</style>

<div style="text-align:center;">
    <b>삼두근(Triceps) 스트레칭</b>

    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-triceps-stretch-variation-1-front.mp4#t=0.1" >
      </video>
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-triceps-stretch-variation-1-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>반대쪽 손으로 팔꿈치에 부드럽게 압력을 가합니다.</p>
        <p>스트레칭 자세를 몇 초 동안 유지한 다음 다른 쪽 팔로 반복합니다.</p>
        <p>왼팔을 머리 위로 올리고 팔꿈치를 구부려 손이 등 위에 오도록 합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
      
            <video  width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-triceps-stretch-variation-2-front.mp4#t=0.1" >
       </video>
       
            <video  width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-triceps-stretch-variation-2-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>척추와 일직선이 되도록 밴드를 잡습니다. 오른손으로 윗부분을 잡고 왼손으로 아랫부분을 잡습니다.</p>
        <p>상단을 움직이지 않게 유지하면서 밴드를 아래로 당깁니다.</p>
        <p>스트레칭 자세를 몇 초 동안 유지한 다음 다른 쪽 팔로 반복합니다.</p>
    </ol>

    <div class="exercise-images-grid">
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-triceps-stretch-variation-3-front.mp4#t=0.1" >
       </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-triceps-stretch-variation-3-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>손이 어깨에 오도록 왼팔을 구부리고 반대쪽 손으로 팔꿈치를 잡습니다.</p>
        <p>팔꿈치를 부드럽게 눌러 머리 위로 올리십시오.</p>
        <p>스트레칭 자세를 몇 초 동안 유지한 다음 다른 쪽 팔로 반복합니다.</p>
    </ol>

</div>

</html>