<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>이두근(Biceps) 맨몸운동</b>

    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-chinup-front.mp4#t=0.1" >
              </video>
         
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-chinup-side.mp4#t=0.1" >
              </video>
    </div>

    <ol>
        <p>바를 어깨 너비로 잡습니다.</p>
        <p>몸을 매달고 팔을 완전히 뻗은 상태에서 턱이 바를 지나갈 때까지 몸을 당깁니다.</p>
       <p>천천히 시작 위치로 돌아갑니다. 이 동작을 반복합니다.</p>
    </ol>
    </div>
</html>