<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>대흉근(CHEST) 맨몸운동</b>

    <div class="exercise-images-grid">
       
            <video  width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pushup-front.mp4#t=0.1" >
       </video>
       
            <video  width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pushup-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>어깨 바로 아래 땅에 손을 단단히 놓으십시오.</p>
        <p>몸 전체가 일직선이 되도록 허리를 펴고 천천히 몸을 내립니다.</p>
        <p>견갑골을 앞뒤로 당기고 팔꿈치를 몸 가까이에 붙입니다.</p>
        <p>숨을 내쉬면서 원위치합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-dips-front.mp4#t=0.1" >
      </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-dips-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>장비 위에 팔을 고정한 상태로 몸을 잡습니다.</p>
        <p>상체를 앞으로 숙인 상태에서 천천히 몸을 낮추고 팔꿈치를 펴줍니다.</p>
        <p>팔이 잠길 때까지 바 위로 몸을 들어 올리십시오.</p>
    </ol>

     
    <div class="exercise-images-grid">
       
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-incline-pushup-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-incline-pushup-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>벤치 또는 견고한 높은 플랫폼을 향하여 서십시오.</p>
        <p>어깨 너비보다 약간 넓은 벤치 또는 플랫폼 가장자리에 손을 놓습니다.</p>
        <p>가슴이 벤치에 거의 닿을 때까지 천천히 몸을 내립니다.</p>
        <p>팔이 펴질 때까지 몸을 밀어 올리십시오.</p>
    </ol>
    
    
 
</div>

</html>