<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>팔뚝(ForeArms) 맨몸운동</b>

    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-chinup-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-chinup-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
       <p>바를 어깨너비 만큼 잡습니다.</p>
       <p>몸을 매달고 팔을 완전히 뻗은 상태에서 턱이 바를 지나갈 때까지 몸을 당깁니다.</p>
       <p>천천히 원위치하고 이 동작을 반복합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-reverse-row-front.mp4#t=0.1" >
        </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-reverse-row-side.mp4#t=0.1" >
      </video>
    </div>

    <ol>
       <p>발을 어깨 너비로 벌리고 바벨을 마주보고 눕습니다.</p>
       <p>바벨의 끝을 잡고 팔을 곧게 펴고 어깨를 편안하게 유지합니다.</p>
       <p>팔에 힘을 주어 상체를 들어올립니다. 천천히 원위치 하며 반복합니다.</p>
    </ol>

</div>

</html>