<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>광배근(Lats) 맨몸운동</b>
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pullup-front.mp4#t=0.1" >
       </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pullup-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>팔과 어깨를 완전히 펴고 바를 잡습니다.</p>
        <p>턱이 바 위에 올 때까지 몸을 위로 당깁니다.</p>
        <p>원위치 하며, 반복합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-chinup-front.mp4#t=0.1" >
       </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-chinup-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>바를 어깨 너비로 잡습니다.</p>
        <p>몸을 매달고 팔을 완전히 뻗은 상태에서 턱이 바를 지나갈 때까지 몸을 당깁니다.</p>
        <p>천천히 시작 위치로 돌아갑니다. 반복합니다.</p>
    </ol>

    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-reverse-row-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-reverse-row-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>고정된 수평 막대 아래에 누워 넓은 오버핸드 그립으로 막대를 잡습니다.</p>
        <p>팔에 힘을주어 몸을 똑바로 당깁니다.</p>
        <p>팔을 완전히 펴고 시작 위치로 돌아갑니다. 반복합니다.</p>
    </ol>

</div>

</html>