<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}

</style>

<div style="text-align:center;">
    <b>허리(Lowerback) 맨몸운동</b>
    <div class="exercise-images-grid">
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-good-mornings-front.mp4#t=0.1" >
      </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-good-mornings-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>무릎을 약간 구부린 상태에서 발을 어깨 너비보다 조금 더 넓게 벌리고 서십시오.</p>
        <p>등을 곧게 펴고 엉덩이를 돌려 어깨가 바닥을 향하도록 합니다.</p>
        <p>몸을 천천히 원위치 하고, 반복합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-superman-front.mp4#t=0.1" >
       </video>
     
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-superman-side.mp4#t=0.1" >
      </video>
    </div>

    <ol>
        <p>팔을 앞으로 완전히 뻗은 상태로 바닥에 엎드려 눕습니다.</p>
        <p>동시에 팔, 다리, 가슴을 바닥에서 들어 올리고 자세를 유지합니다.</p>
        <p>팔, 다리, 가슴을 천천히 처음 위치로 내립니다. 이를 반복합니다.</p>
    </ol>

</div>

</html>