<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>허벅지(Quads) 맨몸운동</b>

    <div class="exercise-images-grid">
      
        <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-squat-front.mp4#t=0.1" >
      </video>
          <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-squat-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
       <p>발을 어깨 너비로 벌리고 서십시오.</p>
       <p>무릎과 엉덩이를 구부리고 몸을 낮추면서 스쿼트 자세로 다시 앉습니다.</p>
       <p>다시 일어나면서 원위치 합니다. 이 동작을 반복합니다.</p>
    </ol>
    

    <div class="exercise-images-grid">
    
        <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-forward-lunge-front.mp4#t=0.1" >
       </video>
       
          <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-forward-lunge-side.mp4#t=0.1" >
          </video>
    </div>

    <ol>
        <p>한 발을 앞으로 내딛습니다.</p>
        <p>뒤쪽 무릎이 지면에 거의 닿을 때까지 몸을 내립니다.</p>
        <p>원위치 할 때까지 앞발로 바닥을 밉니다. 다리를 바꾸며 동작을 반복합니다.</p>
    </ol>

    
      
    <div class="exercise-images-grid">
     
        <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-jump-squat-front.mp4#t=0.1" >
       </video>
      
          <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-jump-squat-side.mp4#t=0.1" >
         </video>
    </div>

    <ol>
      <p>발을 어깨 너비로 벌리고 서십시오.</p>
      <p>규칙적인 스쿼트로 시작한 다음 다리에 힘을주고 뛰어오릅니다.</p>
      <p>착지하면 몸을 다시 스쿼트 자세로 낮춥니다. 이 동작을 반복합니다.</p>
    </ol>

</div>

</html>