<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>어깨(Shoulder) 맨몸운동</b>
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pike-pushup-front.mp4#t=0.1" >
      </video>
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pike-pushup-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>벤치나 물건을 사용하여 발을 들어 올리십시오.</p>
        <p>팔꿈치를 구부려 머리를 바닥 쪽으로 내립니다.</p>
        <p>손을 밀어 시작 파이크 위치로 돌아갑니다. 이 동작을 반복합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-elevated-pike-shrug-front.mp4#t=0.1" >
        </video>
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-elevated-pike-shrug-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
       <p>벤치나 의자와 같은 물건을 사용하여 발을 들어 올리십시오.</p>
       <p>팔꿈치를 고정한 상태에서 몸(견갑골)을 천천히 내립니다.</p>
       <p>천천히 몸을 들어 시작 위치로 되돌립니다.</p>
    </ol>

</div>

</html>