<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">



<!-- 개발 영역 시작 -->



<!-- bmi 계산기 -->
<div class="container">
    <h3>BMI 계산기</h3>
    <div>
        <label for="gender">성별:</label>
	    <input type="radio" id="male" name="gender" value="male">
	    <label for="male">남자</label>
	    <input type="radio" id="female" name="gender" value="female">
	    <label for="female">여자</label>
    </div>
    <div>
        <label for="height">신장 (cm):</label>
	    <input type="text" id="height" name="height">
    </div>
    <div>
	   		<label for="weight">체중 (kg):</label>
	   		<input type="text" id="weight" name="weight">
    </div>
    <div>
    	<label for="age">나이 (세):</label>
    	<input type="text" id="age" name="age">
    </div>
    <button onclick="calculateBMI()">Calculate BMI</button>
    <div class="result" id="result"></div>
</div>

<script>
    function calculateBMI() {
		var weightInput = document.getElementById("weight");
		var heightInput = document.getElementById("height");
		var genderInputs = document.getElementsByName("gender");
		var ageInput = document.getElementById("age");
		var resultDiv = document.getElementById("result");
		
		var weight = parseFloat(weightInput.value);
		var height = parseFloat(heightInput.value) / 100; // Convert height to meters
		var age = parseInt(ageInput.value);
		
		if (isNaN(weight) || isNaN(height) || isNaN(age)) {
		  resultDiv.innerText = "Please enter valid values for weight, height, and age.";
		  return;
		}
		
		var selectedGender = "";
		for (var i = 0; i < genderInputs.length; i++) {
		  if (genderInputs[i].checked) {
		    selectedGender = genderInputs[i].value;
		    break;
		  }
		}
		
		if (selectedGender === "") {
		  resultDiv.innerText = "Please select a gender.";
		  return;
		}
		
		var bmi = weight / (height * height);
		resultDiv.innerText = "Your BMI is: " + bmi.toFixed(2) + ", Gender: " + selectedGender + ", Age: " + age;
	}
</script>



<!-- 개발 영역 끝 -->
</th:block>
</html>