<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  
<!-- 개발 영역 시작 -->

<title>벌크업 식단</title>

<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
<link href="/assets/css/responsive.css" rel="stylesheet" />
<!-- jQery -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>

<script>
$(window).on('load', function () {
    $('.filters_menu li').click(function () {
        $('.filters_menu li').removeClass('active');
        $(this).addClass('active');

        var data = $(this).attr('data-filter');
        $grid.isotope({
            filter: data
        })
    });

    var $grid = $(".grid").isotope({
        itemSelector: ".all",
        percentPosition: false,
        masonry: {
            columnWidth: ".all"
        }
    })
});

</script>

<!-- food section -->
  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          벌크업 식단 구성
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">전체보기</li>
        <li data-filter=".breakfast">아침</li>
        <li data-filter=".lunch">점심</li>
        <li data-filter=".dinner">저녁</li>
        <li data-filter=".snack">간식</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f1.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    영양 만점 고단백 피자
                  </h3>
                  <p>
                    당신의 득근득근한 근성장을 도와줄 베스트 프렌드!
                  </p>
                  <div class="options">
                    <span>
                      - 100g당 단백질 함량 : 10g
                      
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f2.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    간단하고 맛있는 햄버거
                  </h3>
                  <p>
                    두툼한 순 소고기 패티와 아삭한 양상추와 토마토!
                  </p>
                  <div class="options">
					<span>
                    - 탄수화물: 90g, 단백질: 29g, 포화지방: 10g
                  	</span>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f3.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                     마르게리타 피자
                  </h3>
                  <p>
                   맛있는 화덕 피자
                  </p>
                  <div class="options">
                    <span>
                      - 100g당 단백질 함량 : 9g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f4.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    이탈리아 파스타
                  </h3>
                  <p>
                   부족한 탄수화물 채우기 안성맞춤 !
                  </p>
                  <div class="options">
                    <span>
                      - 100g당 단백질 함량 : 38g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all snack">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f5.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    바삭한 감자튀김
                  </h3>
                  <p>
                  계속해서 손이 가는 맛있는 감자튀김
                  </p>
                  <div class="options">
                    <span>
                      - 100g 당 탄수화물 함량 : 40g 
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f6.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    콤비네이션 피자
                  </h3>
                  <p>
                  한 번에 다양한 맛을 느낄 수 있는 피자
                  </p>
                  <div class="options">
                    <span>
                      - 100g당 단백질 함량 : 12g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f7.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    컴팩트 햄버거
                  </h3>
                  <p>
                  단짠단짠 맛있는 햄버거
                  </p>
                  <div class="options">
                    <span>
                     - 단백질 함량 : 25g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f8.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    통밀 빵 햄버거
                  </h3>
                  <p>
                  통밀로 더욱 고소하고 맛있는 햄버거
                  </p>
                  <div class="options">
                    <span>
                      - 단백질 함량 : 22g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="/images/f9.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                  치즈 파스타
                  </h3>
                  <p>
                  쫀득한 치즈가 가득
                  </p>
                  <div class="options">
                    <span>
                      - 100g 당 단백질 함량 : 38g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->


<!-- 개발 영역 끝 -->
</th:block>
</html>