<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  
<!-- 개발 영역 시작 -->

<script>

	function offNormal() {
		document.getElementById("normalDiv").style.display = "none";
	}
	
	function onNormal() {
		document.getElementById("normalDiv").style.display = "block";
	}
	
</script>

<ul class="nav nav-tabs" role="tablist">

  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#normal" onclick="onNormal()" aria-selected="true" role="tab" tabindex="-1">일반식</a>
  </li>
  
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#vegan" onclick="offNormal()" aria-selected="true" role="tab" tabindex="-1">비건</a>
  </li>
  
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#vegetarian" onclick="offNormal()" aria-selected="true" role="tab" tabindex="-1">채식주의</a>
  </li>
  
</ul>

<div id="myTabContent" class="tab-content">
	
	  <div class="tab-pane fade active show" id="normal" role="tabpanel">
	  	
	  	<div class="card border-primary mb-3" id="normalDiv" style="max-width: 40rem;">
			  <div class="card-header">일반식</div>
			  <div class="card-body">
			  	아침
			    <ul>
			    	<li>아침: 곡물 시리얼과 우유</li>
     		 		<li>점심: 샐러드와 그릴 치킨</li>
      				<li>저녁: 국수 요리</li>
			    </ul>
			  </div>
		</div>
		   
		
	  </div>
 
	  <div class="tab-pane fade" id="vegan" role="tabpanel">
			<div class="card border-primary mb-3" style="max-width: 40rem;">
				<div class="card-header">비건</div>
				<div class="card-body">
						<ul>
						  	<li>아침: 스프루트 샐러드와 콩 치킨</li>
  							<li>점심: 베이스로 사용할 수 있는 채소와 곡물</li>
   							<li>저녁: 퀴노아와 채소 볶음</li>
						</ul>
				</div>
			</div>
	 </div>
	 
	 <div class="tab-pane fade" id="vegetarian" role="tabpanel">
			<div class="card border-primary mb-3" style="max-width: 40rem;">
					<div class="card-header">채식주의</div>
					<div class="card-body">
							<ul>
								<li>아침: 요거트와 과일 그래놀라</li>
      							<li>점심: 채소 스튜와 토프</li>
      							<li>저녁: 허니소이긴 채소 볶음</li>
							</ul>
					</div>
			</div>

	
	 </div>
  
</div>

<!-- 개발 영역 끝 -->
</th:block>
</html>