<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  
<!-- 개발 영역 시작 -->

<title>다이어트 식단</title>




<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
<link href="/assets/css/responsive.css" rel="stylesheet" />
<!-- jQery -->
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>

<script>
$(window).on('load', function () {
    $('.filters_menu li').click(function () {
        $('.filters_menu li').removeClass('active');
        $(this).addClass('active');

        var data = $(this).attr('data-filter');
        $grid.isotope({
            filter: data
        })
    });

    var $grid = $(".grid").isotope({
        itemSelector: ".all",
        percentPosition: false,
        masonry: {
            columnWidth: ".all"
        }
    })
});

</script>

<style>
  .img-box {
    background-color: #FAFAFA;
  }
</style>

<!-- food section -->
  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          다이어트 식단 구성
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">전체보기</li>
        <li data-filter=".breakfast">아침</li>
        <li data-filter=".lunch">점심</li>
        <li data-filter=".dinner">저녁</li>
        <li data-filter=".snack">간식</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d11.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    현미밥과 상추들
                  </h3>
                  <p>
                    GI지수가 낮은 현미밥과 상추로 탄수화물과 식이 섬유를 충분히 섭취
                  </p>
                  <div class="options">
                    <span>
                    - 현미 100g 당 탄수화물: 23g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d10.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    고구마와 닭가슴살 그리고 우유
                  </h3>
                  <p>
                  탄수화물과 단백질로 건강한 식사
                  </p>
                  <div class="options">
					<span>
                    - 고구마 100g당 탄수화물: 20g, 닭가슴살 100g당 단백질: 21g
                  	</span>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d13.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                     다이어트 한상차림
                  </h3>
                  <p>
                   다이어트 하더라도 잘 먹으면서 하자
                  </p>
                  <div class="options">
                    <span>
                     
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d17.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    닭가슴살과 바나나 그리고 야채
                  </h3>
                  <p>
                   탄수화물과 단백질을 같이
                  </p>
                  <div class="options">
                    <span>
                    - 닭가슴살 100g 당 단백질: 21g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all snack">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d20.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    블루베리 요거트와 과일들
                  </h3>
                  <p>
                  건강한 간식을 먹어 보아요
                  </p>
                  <div class="options">
                    <span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all lunch">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d18.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    오리고기 밥상
                  </h3>
                  <p>
                  탄단지 완벽한 한끼
                  </p>
                  <div class="options">
                    <span>
                      - 오리고기 100g당 단백질 함량 : 19g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d15.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    통밀빵과 달걀3개
                  </h3>
                  <p>
                  탄수화물과 단백질로 아침을 맞이해 보아요
                  </p>
                  <div class="options">
                    <span>
                     - 달걀 1개당 단백질: 6~8g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all breakfast">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d12.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                    요거트와 사과
                  </h3>
                  <p>
                  아침에 사과 한개 건강에 좋아요
                  </p>
                  <div class="options">
                    <span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all dinner">
            <div class="box">
              <div>
                <div class="img-box" style="background-color: #FAFAFA";>
                  <img src="/images/d19.png" alt="">
                </div>
                <div class="detail-box">
                  <h3>
                  연어스테이크와 아스파라거스, 브로콜리 너마저
                  </h3>
                  <p>
                  맛있다
                  </p>
                  <div class="options">
                    <span>
                      - 연어 100g 당 단백질 함량 : 20g
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->


<!-- 개발 영역 끝 -->
</th:block>
</html>