<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
  
<!-- 개발 영역 시작 -->

<ul class="nav nav-tabs" role="tablist">

  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#normal" aria-selected="true" role="tab" tabindex="-1">일반식</a>
  </li>
  
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#vegan" aria-selected="false" role="tab">비건</a>
  </li>
  
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#vegetarian" aria-selected="false" role="tab">채식주의</a>
  </li>
  

  
</ul>

<div id="myTabContent" class="tab-content">

  <div class="tab-pane fade" id="normal" role="tabpanel">
  	<section id="normal" class="meal-info">
  	
  	<div class="card border-primary mb-3" style="max-width: 20rem;">
	  <div class="card-header">일반식</div>
	  <div class="card-body">
	  
	  	아침
	    <ul>
	      <li>닭가슴살 샌드위치</li>
	      <li>계란 훈제와 토스트</li>
	      <li>귀리와 견과류</li>
	    </ul>
	    점심
	    <ul>
	      <li>소고기 스테이크와 감자</li>
	      <li>삼겹살 볶음밥</li>
	      <li>닭고기 카레</li>
	    </ul>
	    저녁
	    <ul>
	      <li>연어 스테이크와 채소</li>
	      <li>돼지고기 된장찌개</li>
	      <li>스테이크와 감자 그라탕</li>
	    </ul>
	  
	  </div>
	</div>
	   
	</section>
  </div>
  
  <div class="tab-pane fade active show" id="profile" role="tabpanel">
	<section id="normal" class="meal-info">
		<div class="card border-primary mb-3" style="max-width: 20rem;">
			<div class="card-header">일반식</div>
			<div class="card-body">
				<section id="vegan" class="meal-info">
					<h2>비건</h2>
					<ul>
					<li>아침: 콩과 두부 스크램블</li>
					 <li>점심: 고구마와 퀴노아 그린 볼</li>
					<li>저녁: 아보카도와 블랙빈 버거</li>
					</ul>
				</section>
			</div>
		</div>
	</section>
  </div>
  
  <div class="tab-pane fade active show" id="profile" role="tabpanel">
  </div>
  
  
</div>

<!-- 개발 영역 끝 -->
</th:block>
</html>