<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<!-- Start Footer -->
	<footer class="bg-dark" id="tempaltemo_footer">
		<div class="container">
			<div class="row">

				<div class="col-md-4 pt-5">
					<h2 class="h2 text-success border-bottom pb-3 border-light logo">Code Gym</h2>
					<ul class="list-unstyled text-light footer-link-list">
						<li>
							<i class="fas fa-map-marker-alt fa-fw"></i>
							화곡역 2번출구
						</li>
						<li>
							<i class="fa fa-phone fa-fw"></i>
							<a class="text-decoration-none" href="tel:010-020-0340">010-1234-5678</a>
						</li>
						<li>
							<i class="fa fa-envelope fa-fw"></i>
							<a class="text-decoration-none" href="mailto:info@company.com">abc123@company.com</a>
						</li>
					</ul>
				</div>

				<div class="col-md-4 pt-5">
					<h2 class="h2 text-light border-bottom pb-3 border-light">바로가기</h2>
					<ul class="list-unstyled text-light footer-link-list">
						<li><a class="text-decoration-none" href="/board/list?page=1">자유게시판</a></li>
						<li><a class="text-decoration-none" href="/todayWorkout/list?page=1">오운완</a></li>
						<li><a class="text-decoration-none" href="/nutritional/bulkup">영양/식단</a></li>
					</ul>
				</div>

				<div class="col-md-4 pt-5">
					<h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
					<ul class="list-unstyled text-light footer-link-list">
						<li><a class="bi bi-instagram" href="#"></a></li>
						<li><a class="bi bi-facebook" href="#"></a></li>
						<li><a class="bi bi-github" href="#"></a></li>
					</ul>
				</div>

			</div>

			<div class="row text-light mb-4">
				<div class="col-12 mb-3">
					<div class="w-100 my-3 border-top border-light"></div>
				</div>
			</div>
		</div>

		<div class="w-100 bg-black py-3">
			<div class="container">
				<div class="row pt-2">
					<div class="col-12">
						<p class="text-left text-center">
							<a>이용약관</a><a> 개인정보처리방침</a>
						</p>
					</div>
				</div>
			</div>
		</div>

	</footer>
	<!-- End Footer -->
	<!-- Start Script -->
	<script src="/assets/js/bootstrap.bundle.js"></script>
	<!-- End Script -->
</th:block>
</html>