<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <head>
    <title>Header</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
   	
   	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
	<link rel="stylesheet" href="/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/assets/css/templatemo.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
    
    <!-- Load fonts style after rendering the layout styles -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
	<link rel="stylesheet" href="/assets/css/fontawesome.min.css">
	
  </head>
  
  
  <!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-light shadow">
		<div class="container d-flex justify-content-between align-items-center">

			<a href="/"><img src="/assets/img/MainLogo.jpg"></a>

			<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
				data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
				id="templatemo_main_nav">

				<div class="flex-fill">
					<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">운동</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">프리 웨이트</a>
								<a class="dropdown-item" href="#">머신 웨이트</a>
								<a class="dropdown-item" href="#">맨몸 운동</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" aria-haspopup="true"
								aria-expanded="false">영양/식단</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">벌크업</a>
								<a class="dropdown-item" href="#">다이어트</a>
								<a class="dropdown-item" href="#">BMI</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" aria-haspopup="true"
								aria-expanded="false">커뮤니티</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">자유게시판</a>
								<a class="dropdown-item" href="#">오운완</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" aria-haspopup="true"
								aria-expanded="false">고객센터</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">공지사항</a>
								<a class="dropdown-item" href="#">이벤트</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="btn btn-success" style="color: white;" href="user/signup">로그인</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- Close Header -->
  
  
</th:block>
</html>