<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>둔근(Glutes) 프리웨이트</b>
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-bulgarian-split-squat-front.mp4#t=0.1" >
      </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-bulgarian-split-squat-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>무릎 높이 정도의 상자를 준비합니다.</p>
        <p>발가락이나 발등을 상자 위에 걸칩니다.</p>
        <p>앞발을 앞으로 향하게 하거나 약간 바깥쪽으로 돌리고 무릎과 엉덩이를 동시에 꺾습니다.</p>
        <p>원위치 하며, 동작을 반복합니다.</p>
    </ol>


    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-hip-thrust-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-hip-thrust-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>뒤에 벤치가 있는 바닥에 앉습니다. 바벨을 엉덩이 바로 위의 다리 위에 놓으십시오.</p>
        <p>어깨가 벤치에 기대도록 벤치에 등을 기대고 벤치를 지지대로 사용하여 팔을 양쪽으로 쭉 뻗습니다.</p>
        <p>발을 통해 엉덩이와 상체를 들어올립니다. 어깨와 발로 체중을 지탱합니다.</p>
        <p>가능한 한 천천히 동작을 수행하고, 원위치합니다.</p>
    </ol>

    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-deadlift-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-deadlift-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>발 중앙을 바 아래에 두고 어깨 너비만큼 벌린 손으로 바를 잡습니다.</p>
        <p>무릎을 구부린 다음 등을 곧게 펴서 바를 들어 올리십시오. 허리를 곧게 펴는 것이 중요합니다.</p>
        <p>일자로 서서 자세를 유지합니다.</p>
        <p>무릎을 구부리고 등을 똑바로 유지하여 바를 바닥으로 내립니다.</p>
    </ol>

    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-highbar-squat-front.mp4#t=0.1" >
       </video>
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-highbar-squat-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>발을 어깨 너비로 벌리고 서십시오. 견갑골을 조이면서 가슴을 들어 올립니다.</p>
        <p>바를 어깨 너머로 잡고 등 위쪽으로 지탱합니다. 다리를 곧게 펴서 바를 내리면서 스쿼트를 합니다.</p>
        <p>엉덩이가 무릎 아래에 올 때까지 등의 형태를 변경하지 않고 바를 내리면서 무릎을 구부립니다.</p>
        <p>바를 원위치하며, 다리에 힘을주고, 일자로 섯을 때, 숨을 내쉬십시오.</p>
    </ol>
    
    
   

</div>

</html>