<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}

</style>

<div style="text-align:center;">
    <b>광배근(Lats) 프리웨이트</b>
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-bent-over-row-front.mp4#t=0.1" >
      </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-bent-over-row-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>어깨 넓이로 서고, 바벨을 잡습니다.</p>
        <p>등에 힘을 주며, 엉덩이를 앞으로 구부리십시오.</p>
        <p>바벨을 상복부 쪽으로 당깁니다.</p>
        <p>바벨을 앞으로 밀고, 다시 반복하십시오.</p>
    </ol>
    
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-long-landmine-row-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-long-landmine-row-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>바벨을 놓고 발을 어깨 너비로 벌리고 바벨을 마주보고 서십시오.</p>
        <p>바벨의 끝을 잡고 팔은 곧게 펴고 어깨는 편안하게 유지합니다.</p>
        <p>엉덩이와 무릎을 구부려 몸통이 지면과 거의 평행이 될 때까지 내립니다.</p>
        <p>바벨을 가슴쪽으로 당기고 웨이트를 올리면서 견갑골을 함께 조입니다.</p>
    </ol>

    <div class="exercise-images-grid">
        
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-meadows-row-side.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-meadows-row-front.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>바벨을 놓고 발을 어깨 너비로 벌리고 엇갈린 자세로 옆을 향하여 서십시오.</p>
        <p>바벨의 끝을 잡고 팔은 곧게 펴고 어깨는 편안하게 유지합니다.</p>
        <p>엉덩이와 무릎을 구부려 몸통이 지면과 거의 평행이 될 때까지 내립니다.</p>
        <p>바벨을 가슴쪽으로 당기고 웨이트를 올리면서 견갑골을 함께 조입니다.</p>
    </ol>

</div>

</html>