<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}


</style>

<div style="text-align:center;">
    <b>어깨(Shoulder) 프리웨이트</b>
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-overhead-press-front_wHKQjdY.mp4#t=0.1" >
        </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-overhead-press-side_1DIUbfS.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>대략 어깨 너비로 바를 잡습니다. 팔꿈치에서 주먹까지 일직선이 되어야 합니다.</p>
        <p>턱을 뒤로 당기고 팔꿈치와 어깨에 힘을주고, 바를 천장쪽으로 들어올립니다.</p>
        <p>팔꿈치가 펴질 때까지 힘을주고, 머리를 약간 앞으로 밉니다.</p>
        <p> 바가 얼굴을 안전하게 지나갈 수 있도록 턱을 뒤로 당기면서 원위치합니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-front-raise-front.mp4#t=0.1" >
       </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/female-barbell-front-raise-side.mp4#t=0.1" >
       </video>
    </div>

    <ol>
        <p>바벨을 잡고 섭니다. 주먹이 눈높이에 올 때까지 팔을 들어 올리십시오.</p>
        <p>다시 힘을 실어 원위치합니다.</p>
    </ol>

    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-upright-row-front.mp4#t=0.1" >
       </video>
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-upright-row-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>대략 어깨너비로 바를 잡습니다.</p>
        <p>팔꿈치를 천장 위로 똑바로 당깁니다. 바를 턱 높이 또는 약간 더 높게 잡도록 합니다.</p>
        <p>천천히 원위치 해줍니다.</p>
    </ol>

</div>

</html>