<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">


<style>	
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


/* list styles */



ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
 font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  color: #555;
  padding-left: 60px;
}

span {
  color:#555;
  position: absolute;
  line-height: 25px;
}

b,p {
  text-align:center;
  font-size:35px;
  font-family: 'Noto Sans KR', sans-serif;
}

</style>

<div style="text-align:center;">
    <b>승모근 중간부위(Traps Midback) 프리웨이트</b>
    <div class="exercise-images-grid">
      
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-deadlift-front.mp4#t=0.1" >
      </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-deadlift-side.mp4#t=0.1" >
        </video>
    </div>

    <ol>
        <p>발 중앙을 바 아래에 두고 어깨 너비만큼 벌린 손으로 바를 잡습니다.</p>
        <p>무릎을 구부린 다음 등을 곧게 펴서 바를 들어 올리십시오. 허리를 곧게 펴는 것이 중요합니다.</p>
        <p>일자 높이로 서서 유지하십시오.</p>
        <p>무릎을 구부리고 등을 똑바로 유지하여 바를 바닥으로 내립니다.</p>
    </ol>
    
    <div class="exercise-images-grid">
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-landmine-row-front.mp4#t=0.1" >
      </video>
       
            <video width="940" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-landmine-row-side.mp4#t=0.1" >
       </video>
    <ol>
        <p>바벨을 놓고 발을 어깨 너비로 벌립니다.</p>
        <p>바벨의 끝을 잡고 팔을 곧게 펴고 어깨를 편안하게 유지합니다.</p>
        <p>엉덩이와 무릎을 구부려 몸통이 지면과 거의 평행이 될 때까지 내립니다.</p>
        <p>바벨을 가슴쪽으로 당기고 웨이트를 올리면서 견갑골을 함께 조입니다.</p>
    </ol>

</div>

</html>