<!doctype html>
<html lang="ko">
<head>

</head>

<script>

</script>

<style>	




/* list styles */

ol {
  list-style: none;
  color: #ccc;
}

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
  font: 12pt helvetica, arial, sans-serif;
  color: #555;
  padding-left: 60px;
}

span {
  position: absolute;
  line-height: 25px;
}


</style>

<body>
    <strong>복근(abdominals) 페이지입니다</strong>

    <div class="exercise-images-grid">
      <a href="">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-abdominals-stretch-variation-1-front.mp4#t=0.1" />
        </a>
        <a href="https://musclewiki.com/stretches/male/abdominals/abdominals-stretch-variation-one">
          <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-abdominals-stretch-variation-1-side.mp4#t=0.1" />
          </a>
    </div>

    <ol>
        <li><span>01</span><p>팔뚝을 바닥에 평평하게 놓고 바닥에 배를 대고 눕습니다.</p></li>
        <li><span>02</span><p>팔꿈치를 펴고 상체를 위로 밀어 올린다.</p></li>
        <li><span>03</span><p>복근이 당기는 느낌이 들 때까지 상체를 위로 밀어 올린 다음 시작 위치로 돌아가 반복합니다.</p></li>
    </ol>
    

    <div class="exercise-images-grid">
      <a href="https://www.youtube.com/watch?v=QSkX3gA8cd0">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-crunch-front.mp4#t=0.1" />
        </a>
        <a href="https://www.youtube.com/watch?v=QSkX3gA8cd0">
          <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-crunch-side.mp4#t=0.1" />
          </a>
    </div>

    <ol>
        <li><span>01</span><p>무릎을 구부린 상태에서 등을 대고 평평하게 눕고 발은 바닥에 평평하게 눕습니다.</p></li>
        <li><span>02</span><p>손바닥이 바깥쪽을 향하도록 관자놀이에 손가락 끝을 놓습니다.</p></li>
        <li><span>03</span><p>배를 척추 아래쪽으로 당겨 근육에 자극을 준 다음 머리와 어깨를 바닥에서 들어 올립니다. 시작 위치로 돌아가서 반복합니다.</p></li>
    </ol>

    
      
    <div class="exercise-images-grid">
      <a href="https://musclewiki.com/barbell/male/abdominals/barbell-roll-outs">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-rollout-front.mp4#t=0.1" />
        </a>
        <a href="https://musclewiki.com/barbell/male/abdominals/barbell-roll-outs">
          <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-rollout-side.mp4#t=0.1" />
          </a>
    </div>

    <ol>
      <li><span>01</span><p>핸들 부착물을 사용하고, 케이블은 어깨 높이로 설정합니다.</p></li>
      <li><span>02</span><p>바벨을 앞으로 천천히 굴려 몸을 곧은 자세로 늘립니다.</p></li>
      <li><span>03</span><p>뻗은 자세에서 잠시 멈춘 후 다시 시작 자세로 몸을 당긴다.</p></li>
    </ol>

    <div class="exercise-images-grid">
      <a href="https://musclewiki.com/cables/male/abdominals/cable-kneeling-crunch">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-cable-kneeling-crunch-front.mp4#t=0.1" />
        </a>
        <a href="https://musclewiki.com/cables/male/abdominals/cable-kneeling-crunch">
          <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-cable-kneeling-crunch-side.mp4#t=0.1" />
          </a>
    </div>

    <ol>
        <li><span>01</span><p>이중 핸들 부착물을 사용하고 케이블을 맨 위로 끝까지 설정합니다.</p></li>
        <li><span>02</span><p>앞으로 몇 걸음 걸은 다음 무릎을 꿇은 자세로 몸을 굽힌다.</p></li>
        <li><span>03</span><p>엉덩이를 뒤로 밀고 복근을 구부린 다음 시작 위치가 될 때까지 엉덩이를 앞으로 밉니다.</p></li>

    </ol>
 
</body>

</html>