<!doctype html>
<html lang="ko">
<head>

</head>

<script>

</script>

<style>	




/* list styles */

ol {
  list-style: none;
  color: #ccc;
}

ol li {
  font: bold 24pt helvetica, arial, sans-serif;
  position: relative;
  margin-bottom: 20px;
}

li p {
  font: 12pt helvetica, arial, sans-serif;
  color: #555;
  padding-left: 60px;
}

span {
  position: absolute;
  line-height: 25px;
}


</style>

<body>
    <strong>대흉근(CHEST) 페이지입니다</strong>
    <p><strong>운동유형:</strong> 스트레칭</p>
    <div class="exercise-images-grid">
        <a href="https://musclewiki.com/stretches/male/chest/chest-stretch-variation-one">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-chest-stretch-variation-1-front.mp4#t=0.1" />
        </a>
        <a href="https://musclewiki.com/stretches/male/chest/chest-stretch-variation-one">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-chest-stretch-variation-1-side.mp4#t=0.1" />
        </a>
    </div>

    <ol>
        <li><span>01</span><p>올린 벽을 사용하여 팔을 벽에 90도 각도로 놓습니다.</p></li>
        <li><span>02</span><p>엇갈린 자세로 벽에 기대어 가슴을 펴십시오.</p></li>
        <li><span>03</span><p>몇 초 동안 멈춘 다음 시작 위치로 돌아가서 반대쪽으로 반복하십시오.</p></li>
    </ol>
    
    <p><strong>운동유형:</strong> 체중을 실은 운동방법</p>
    <div class="exercise-images-grid">
        <a href="https://www.youtube.com/watch?v=R4uGphXkSiQ">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pushup-front.mp4#t=0.1">
        </a>
        <a href="https://www.youtube.com/watch?v=R4uGphXkSiQ">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-bodyweight-pushup-side.mp4#t=0.1">
        </a>
    </div>

    <ol>
        <li><span>01</span><p>어깨 바로 아래 땅에 손을 단단히 놓으십시오.</p></li>
        <li><span>02</span><p>몸 전체가 일직선이 되도록 허리를 펴고 천천히 몸을 내립니다.</p></li>
        <li><span>03</span><p>견갑골을 앞뒤로 당기고 팔꿈치를 몸 가까이에 붙입니다.</p></li>
        <li><span>04</span><p>숨을 내쉬면서 시작 위치로 돌아갑니다.</p></li>
    </ol>

    
    <p><strong>운동유형:</strong> 바벨을 이용한 운동방법</p>  
    <div class="exercise-images-grid">
        <a href="https://www.youtube.com/watch?v=2maZ-VtpVyU">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-incline-bench-press-front_dogC7vG.mp4#t=0.1" />
        </a>
        <a href="https://www.youtube.com/watch?v=2maZ-VtpVyU">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-barbell-incline-bench-press-side.mp4#t=0.1" />
        </a>
    </div>

    <ol>
        <li><span>01</span><p>벤치를 30도에서 45도 사이에 놓습니다.</p></li>
        <li><span>02</span><p>바닥에 발을 대고 벤치에 평평하게 눕습니다. 곧은 팔로 바를 풉니다.</p></li>
        <li><span>03</span><p>바를 가슴 중앙까지 내립니다.</p></li>
        <li><span>04</span><p>팔꿈치가 고정될 때까지 막대를 천천히 그리고 조절하여 올리십시오.</p></li>
    </ol>

    <p><strong>운동유형:</strong> 케이블을 이용한 운동방법</p>
    <div class="exercise-images-grid">
        <a href="https://www.youtube.com/watch?v=2maZ-VtpVyU">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-cable-chestpress-front.mp4#t=0.1" />
        </a>
        <a href="https://www.youtube.com/watch?v=2maZ-VtpVyU">
        <video width="640" height="480" playsinline preload="metadata" muted autoplay loop class="workout-img" src="https://media.musclewiki.com/media/uploads/videos/branded/male-cable-chestpress-side.mp4#t=0.1" />
        </a>
    </div>

    <ol>
        <li><span>01</span><p>핸들 부착물을 사용하고, 케이블은 어깨 높이로 설정합니다.</p></li>
        <li><span>02</span><p>양쪽 핸들을 가슴으로 가져오고 케이블 크로스오버의 중앙에 있는지 확인합니다.</p></li>
        <li><span>03</span><p>몇 걸음 앞으로 걸어가십시오. 그런 다음 무게를 앞으로 누르십시오.</p></li>
        <li><span>04</span><p>거기에서 어깨와 팔꿈치를 동시에 구부리고 펴줍니다.</p></li>
    </ol>
 
</body>

</html>