<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">

	<!-- 개발 영역 시작 -->
	<title>공지사항 상세보기</title>
	
	<script>
		
		const deleteBoard = () => {
			if (confirm("정말로 삭제하시겠습니까?")) {
				const seqno = '[[${view.seqno}]]';
				document.location.href = '/customerCenter/noticeDelete?seqno=' + seqno;
			}
		}

		
		const goList = () => {
			document.location.href='/customerCenter/notice?page=[[${page}]]&keyword=[[${keyword}]]';
		};
		
		const pre_seqno = () => {
			document.location.href='/customerCenter/noticeView?seqno=[[${pre_seqno}]]&page=[[${page}]]&keyword=[[${keyword}]]';
		};
		
		const next_seqno = () => {
			document.location.href='/customerCenter/noticeView?seqno=[[${next_seqno}]]&page=[[${page}]]&keyword=[[${keyword}]]';
		};
		
		const modify = () => {
			document.location.href='/customerCenter/noticeModify?seqno=[[${view.seqno}]]&page=[[${page}]]&keyword=[[${keyword}]]';
		}
		
		// 파일 다운로드
		function fileDownload(fileseqno){
			location.href='/board/fileDownload?fileseqno=' + fileseqno;
		}
		
	</script>


	<div class="main" style="padding:5%;text-align:center;">
		<div class="card border-dark mb-3" style="width:48%; margin: auto; display: block;">
			<h3 class="card-header">공지사항</h3>
			<ul class="list-group list-group-flush" style="text-align:left;">
	    		<li class="list-group-item">이름 : [[${view.writer}]]</li>
	    		<li class="list-group-item">제목 : [[${view.title}]]</li>
	    		<li class="list-group-item">날짜 : [[${view.regdate}]]</li>
	    		<li class="list-group-item">[[${view.content}]]</li>
	  		</ul>
	        <th:block th:if="${fileListView != null}">
	 			<div style="margin:5%;" th:each="fileView : ${fileListView}">
					<div class="form-control is-valid" style="width:50%; margin: auto; display: block;">파일명 : <a href="#" th:attr="onclick='fileDownload(\'' + ${fileView.fileseqno} + '\')'">[[${fileView.org_filename}]]</a> ( [[${fileView.filesize}]] Byte )</div>
				</div>
			</th:block>
			<th:block th:if="${fileListView == null}">
				<div class="field" style="margin:1%;">업로드된 파일이 없습니다.</div>
			</th:block>	
		</div>
		<div style="text-align:center; padding:2%;" >
			<th:block th:if="${pre_seqno != 0}">
				<button class="btn btn-outline-dark" onclick="pre_seqno()">이전글▼</button>
			</th:block>
				<button class="btn btn-outline-info" id="btn_list" onclick="goList()">글목록</button>
			<th:block th:if="${next_seqno != 0 }">
				<button class="btn btn-outline-dark" onclick="next_seqno()">다음글▲</button>
			</th:block>
			<th:block th:if="${session.role == 'MASTER'}">
				<button class="btn btn-outline-info" id="btn_write" onclick="document.location.href='/customerCenter/noticeWrite'">글작성</button>
				<button class="btn btn-outline-info" id="btn_modify" onclick="modify()">수정</button>
				<button class="btn btn-outline-info" id="btn_delete" onclick="del()">삭제</button>
			</th:block>
		</div>
	</div>
	<script>

	</script>

	<!-- 개발 영역 끝 -->
</th:block>

</html>